@import url('https://fonts.googleapis.com/css2?family=Modak&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
  theme: light dark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f6a11b;
  --color-primary-content: #ffffff;
  --color-secondary: #3b3b3b;
  --color-secondary-content: #f6a11b;
  --color-base-200: #ccbda5;
  --color-base-300: #F7F5F2;
  --color-base-content: #3b3b3b;
  --color-neutral-content: #b48b4c;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #f6a11b;
  --color-primary-content: #1e1b16;
  --color-secondary: #d8c4a0;
  --color-secondary-content: #f6a11b;
  --color-base-200: #28271c;
  --color-base-300: #343940;
  --color-base-content: #fef5e7;
  --color-neutral-content: #b48b4c;
}
body {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-secondary);
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-primary);
  font-weight: 700;
}

